# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.csv
*.pdf
*.log
bake/
gnuplot-5.2.2/
netanim/
pybindgen/
sumo-0.32.0/
ns-3-dev/tmp/
*.swp
*.mat
*.m~
